extends layout

block content
  h1= title
  hr
  p
    i Сервис для поиска ключевых слов и выражений в текстах по предметной области "Операционные системы"
  p
    i В качестве словаря используется модифицированный алфавитный указатель учебного пособия Таненбаума Э. С. -
     a(href='http://www.piter.com/collection/starye-tovary/product/sovremennye-operatsionnye-sistemy-2-e-izd') Современные операционные системы. 2-е изд.
  hr
  form(action='/upload_dict')
    button#myButton(type='submit') Загрузить словари
  br
  form(action='/choose_method')
    button#myButton(type='submit') Анализировать текст

  p Всего словарей в системе - #{dictNames.length}
