extends layout

block content
    h1= title
    hr
    p
        a(class='button', href='/choose_method') Назад
    form(method='post', action='/upload', enctype='multipart/form-data')
        p Выберите словарь:
            select(name='selectDictName')
                each dict in dictNames
                    option(value='#{dict}') #{dict}
        //p Для работы загрузите текстовый файл в кодировке utf-8:
        //input(type='file', name='downloaded_file', multiple='multiple')
        //br
        //input(type='submit', style='align:right', value='Upload')
        p Загрузите анализируемый текстовый документ:
        input#my_file(type='file', value='', name='downloaded_file', multiple='multiple')
        div#file_selector Выбрать файл
        button#myButton(type='submit') Загрузить

    p Всего словарей в системе - #{dictNames.length}
